<row>
	<label for="title">提问</label>

	<input id="title" name="title" type="text" maxlength="300" tabindex="100" class="ask-title-field" data-min-length="15" data-max-length="150">
	<br/>
	<span class="edit-field-overlay">您有什么编程问题？请上代码,越详细越好！</span>
	<textarea id="wmd-input" class="wmd-input" name="post-text" cols="92" rows="15" data-min-length=""></textarea>

   	<label>Tags</label>
    <input id="tagnames" name="tagnames" type="text" size="60" value="" tabindex="103">
    <span class="edit-field-overlay">至少一个标签，比如(mysql java regex), 最多5个标签.</span>
	
	<div class="form-item">
        <div>
            <input id="11" type="checkbox">
            <label for="as" style="display: inline">将新的答案通过邮件发送给我.</label>
            <a id="s" href="#">(settings)</a>
        </div>
        
    </div>

  
    <input id="submit-button" type="button" value="确认提问" tabindex="120">
    <a href="#" class="discard-question dno">取消提问</a>




</row>