<row>
    <div class="col-md-12">
       
    </div>
</row>

<row>            
        <div class="col-md-9" >
            <h1>{{question.title}}</h1>
            <pre class="prettyprint prettyprinted" style>
                 {{question.description}} 
            </pre>
        </div>

        <div class="col-md-3">
            <aside>
                <ul>
                    <li>提问时间 今天</li>
                    <li>看过  22次</li>
                    <li>active 今天</li>
                </ul>
            </aside>
            <aside class="warn edit-guide">
                <h3>提问指南</h3>
                <ul>
                    <li>内容与技术相关，有明确的答案，有代码贴代码，附上已尝试过的解决方案</li>
                    <li>良好的排版，正确使用 Markdown 语法</li>
                </ul>
            </aside>
       

</row>