

<row>
  <div class="col-md-9">
    	<label for="title">提问</label>

    	<input id="title" name="title" type="text" maxlength="300" tabindex="100" class="ask-title-field" data-min-length="15" data-max-length="150">
    	<br/>
    	<span class="edit-field-overlay">您有什么编程问题？请上代码,越详细越好！</span>

        <div ng-repeat="question in modal.data.questions"> 
        <textarea data-modal="modal"
               data-pagedown-admin=""
               data-ng-model="question.text"></textarea>
        </div>

       	<label>Tags</label>
        <input id="tagnames" name="tagnames" type="text" size="60" value="" tabindex="103">
        <span class="edit-field-overlay">至少一个标签，比如(mysql java regex), 最多5个标签.</span>
    	
    	<div class="form-item">
            <div>
                <input id="11" type="checkbox">
                <label for="as" style="display: inline">将新的答案通过邮件发送给我.</label>
                <a id="s" href="#">(settings)</a>
            </div>
            
        </div>

      
        <input id="submit-button" type="button" value="确认提问" tabindex="120">
        <a href="#" class="discard-question dno">取消提问</a>
    </div>
    
    <div class="col-md-3">
        <div class="module newuser sidebar-help" id="how-to-format" style="display: block;">
            <h4>How to Format</h4>    
            <p><span class="dingus">►</span> put returns between paragraphs</p>
            <p><span class="dingus">►</span> for linebreak add 2 spaces at end</p>
            <p><span class="dingus">►</span> <i>_italic_</i> or <b>**bold**</b></p>
            <p><span class="dingus">►</span> indent code by 4 spaces</p>
            <p><span class="dingus">►</span> backtick escapes <code>`like _so_`</code></p>
            <p><span class="dingus">►</span> quote by placing &gt; at start of line</p>
            <p><span class="dingus">►</span> to make links</p>
            <p>&lt;http://foo.com&gt;<br>[foo](http://foo.com)<br>&lt;a href="http://foo.com"&gt;foo&lt;/a&gt;</p>
            <p><span class="dingus">►</span> <a href="http://meta.stackoverflow.com/questions/1777/what-html-tags-are-allowed" target="_blank">basic HTML</a> also allowed</p>
            <p class="ar">
            <a href="/editing-help" target="_edithelp">formatting help »</a><br>
            <a href="/questions/how-to-ask">asking help »</a>
            </p>
        </div>
    </div>    

</row>