
<row>  
  <div class="col-md-9">
    <a href="#">Inbox <span class="badge">42</span></a>

      <ul class="questions">
              <li ng-repeat="question in questions "
                  class="question-item">
                  
                    <span class="fa-hover"><i class="fa fa-envelope fa-2x"></i> 问题</span>
                    <h2><a href="#/questions/{{getQid(question)}}" > {{question.title}}</a></h2>
                    <span> {{question.description}}</span>
                    <span> {{question.asktime}}</span>
                    <span> {{question.id}}</span>

                    
                
              </li>

    </ul>
  </div>
  <div class="col-md-3">
  </div>
</row>    


<link rel="stylesheet" href="/css/questions.top.css">