

<row>
  
  <div class="col-md-9">
    	<label for="title"><h2>提出新问题:</h2></label>
    	<input id="title" name="title" type="text" maxlength="300" tabindex="100" class="ask-title-field" data-min-length="15" data-max-length="150" placeholder="标题,用最简短的一句话说清您的问题。">
    	<br/>
    	<span class="edit-field-overlay">您有什么编程问题？请上代码,越详细越好！</span>

        <textarea class="questions-ask-textarea" data-modal="modal"
               data-pagedown-admin=""
               data-ng-model="question.text"></textarea>
		<br/>
       	<label>问题标签（至少 1 个):</label>
        <input id="tagnames" name="tagnames" type="text" class="ask-tag-field" value="" tabindex="103">
        <span class="edit-field-overlay">至少一个标签，比如(mysql java regex), 最多5个标签.</span>
    	
    	<div class="form-item">
            <div>
                <input id="11" type="checkbox">
                <label for="as" style="display: inline">将新的答案通过邮件发送给我.</label>
                <a id="s" href="#">(settings)</a>
            </div>
            
        </div>

		<div id="ask-btn-field">
			<br/>
			<button type="button" class="btn btn-primary btn-lg" id="submit-button" tabindex="120">
			  <span class="glyphicon glyphicon-ok"></span> 提交问题
			</button>			
		</div>
        <br/><br/><br/>
    </div>
    
    <div class="col-md-3">
        <aside class="warn edit-guide">
            <h3>提问指南</h3>
            <ul>
                <li>内容与技术相关，有明确的答案，有代码贴代码，附上已尝试过的解决方案</li>
                <li>良好的排版，正确使用 Markdown 语法</li>
            </ul>
        </aside>
    </div>    

</row>