
<row>  
  <div class="col-md-10">
	<div class="tips-navbar">
		<div class="navbar-new">
			<h3><strong>最新提问</strong></h3>	
		</div>
		<div class="tips-nav">
			<a class="current" href="#">最新的</a>
			<a href="#">最热门</a>
			<a href="#">未回答</a>
		</div>
	</div>
	<hr class="tips-hr">
    <ul class="questions">
	    <li ng-repeat="question in questions "
		    class="question-item">
		    <div class="row top-content">
				<div class="col-md-2 top-tips">
					<span class="tips-lan lpad">
					   <span>{{question.answers.length}}</span><label class="tips-answer">回答</label>		   
					</span>
					<span class="lpad">
					   <span>{{question.answers.length}}</span><label class="tips-answer">投票</label>				   
					</span>
				</div>
				<div class="col-md-9">
					<span>
						<a class="top-a" href="#/questions/{{getQid(question)}}" > {{question.title}}</a>
					</span>
					<div>							
						<span class="edit-field-overlay meta-viewsum">
							<img class="tips-img" src="../img/signal.ico" />
							122次浏览
						</span>
						<ul class="edit-field-overlay meta-tags">
							<li>
								<img class="tips-img" src="../img/tag.ico" />
							</li>
							<li>
								{{question.tag}}
							</li>								
						</ul>
						<span class="edit-field-overlay meta-datetime"><img class="tips-img" src="../img/clock.ico" /> {{question.asktime}}</span>							
					</div>
					
				</div>
			<div class="col-md-1">
				<a href="#"><span class="meta-askerimg"><img class="tips-askerimg" src={{question.urlimg}} /></span></a>
			</div>
		  </div>
		  <hr class="tips-hr">
	    </li>

    </ul>
  </div>
  <div class="col-md-2">
  </div>
</row>    


<link rel="stylesheet" href="/css/questions.top.css">