<!DOCTYPE html>
<html lang="en" ng-app="nggl">
<head>
    <meta charset="utf-8">
    <title>Huan Bao Network Manager System</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="stylesheet" href="/css/questions.ask.css">
   <link rel="stylesheet" href="/css/prettify.css">
    <link rel="stylesheet" href="/css/defaultstyle.css">    
    <link href="/lib/bootstrap-3.1.0-dist/css/bootstrap.min.css" rel="stylesheet">    
    <link href="/lib/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link href="/lib/bootstrap-3.1.0-dist/css/bootstrap-theme.min.css" rel="stylesheet">
    
    <!-- This is needed because Facebook login redirects add #_=_ at the end of the URL-->
    <script type="text/javascript">
      if (window.location.href.indexOf('#_=_') > 0) {
          window.location = window.location.href.replace(/#.*/, '');
      }
      
    </script>
</head>
<body ng-cloak>

    <div ng-controller="NavCtrl">
		<div  class="navbar navbar-inverse" role="navigation">		
			<ul class="nav navbar-nav">
				<li access-level="accessLevels.anon" active-nav="active-nav"><a href="/login">登录</a></li>
				<li access-level="accessLevels.admin" active-nav="active-nav"><a href="/register">注册</a></li>
				<li access-level="accessLevels.user" active-nav="active-nav"><a href="/">主页</a></li>           		                        
				<li access-level="accessLevels.admin" active-nav="active-nav"><a href="/admin">管理员</a></li>
				<li access-level="accessLevels.user"><a href="" ng-click="logout()">登出</a></li>
			</ul>
			<div id="userInfo" access-level="accessLevels.user" class="pull-right">
				<span>Welcome&nbsp;</span>
				<div class="btn-group">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					{{user.username}} <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
					<li><a href="#/users/{{user.id}}">我的主页</a></li>
					<li><a href="#">账号设置</a></li>
					<li><a href="#" ng-click="logout()">退出</a></li>
					<li class="divider"></li>
				  </ul>
				</div>
			</div>
		
		
		</div>


    <div id="allnav" class="row">
		<div class="col-md-10">
			<div class="top-logo"><img src="/img/logo.png" /></div>			
			<div class="input-group top-search">
				<input type="text" class="form-control" placeholder="搜索问题、标签">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">搜索</button>
				</span>
			</div><!-- /input-group -->
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary btn-lg" id="ask-button" tabindex="120" ng-click="go('/questions/ask')">
			  <span class="glyphicon glyphicon-star"></span> 提问
			</button>
		</div>
	</div>           
		<div class="container">    
          <div class="row">            
                 <div ng-view="ng-view"></div>
                 <div class="alert alert-error" ng-bind="error" ng-show="error"><div>             
          </div>		  
		</div>
    </div>    

    <script src="/lib/jquery/jquery-2.1.0.min.js"></script>
    <script src="/lib/underscore-min.js"></script>    
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-cookies.min.js"></script>
    <script src="/lib/angular/angular-route.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>    
    <script src="/js/routingConfig.js"></script>    
    <script src="/lib/moment/moment.min.js"></script>
	<script src="/lib/bootstrap-3.1.0-dist/js/bootstrap.min.js"></script>
    <script src="/lib/google-code-prettify/prettify.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/directives.js"></script>
</body>  
</html>